@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#05051A] text-white;
  }
}

@layer components {
  .select-with-caret {
    @apply pr-10 appearance-none bg-no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23cbd5e1' viewBox='0 0 20 20'%3E%3Cpath d='M5.23 7.21a.75.75 0 0 1 1.06.02L10 10.96l3.71-3.73a.75.75 0 0 1 1.08 1.04l-4.24 4.25a.75.75 0 0 1-1.06 0L5.21 8.27a.75.75 0 0 1 .02-1.06z'/%3E%3C/svg%3E");
    background-position: right 0.75rem center;
    background-size: 1rem;
  }
}
